<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" formControlName="username" class="form-control">
        </div>
        <span *ngIf="signupForm.get('userData.username').invalid && signupForm.get('userData.username').touched" class="help-block">Please
          Enter A Valid Username</span>
        <div class="form-group">
          <label for="email">email</label>
          <input type="text" id="email" formControlName="email" class="form-control">
        </div>
        <span *ngIf="signupForm.get('userData.email').invalid && signupForm.get('userData.email').touched" class="help-block">Please Enter
          A Valid Email</span>
        </div>

        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input type="radio" formControlName="gender" [value]="gender">{{ gender }}
          </label>
        </div>
        <div formArrayName="hobbies">
          <h4>Your hobbies</h4>
          <button class="btn btn-default" type="button" (click)="onAddHobby()">Add Hobby</button>
          <div class="formGroup" *ngFor="let hobbyControl of getControls(); let i = index">
            <input type="text" class="formControl" [formControlName]="i">

          </div>
        </div>
        <span *ngIf="signupForm.invalid && signupForm.touched" class="help-block">Please Fill The Form Correctly</span>
        <button class="btn btn-primary" type="submit" [disabled]="signupForm.invalid">Submit</button>
      </form>
    </div>
  </div>
</div>